
.tableHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:16px
}

.show{
    position: absolute;
    z-index:2;
    display: flex;
    width:10vw;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.subShow{
    position: absolute;
    display: flex;
    left:10vw;
    width:100%;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.subdropdown{
    padding:0px;
    margin:0px;
}
.notShow{
    display: none;
}
.notSubShow{
    display: none;
}
.rightHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    .search-container {
        position: relative;
        
      }
  
      /* Style the search input */
      .search-input {
        width: 100%;
        padding:4px;
        padding-left: 30px; /* Set left padding to accommodate the icon */
        border: 1px solid #ECECEB;
        border-radius: 5px;
      }
  
      /* Style the search icon */
      .search-icon {
        position: absolute;
        top: 55%;
        left: 8px; /* Adjust the left position as needed */
        transform: translateY(-50%);
        color:#808080;
      }
      .filter-container {
        position: relative;
        
      }
  
      /* Style the search input */
      .filter {
        width: 100%;
        padding:4px;
        padding-left: 30px; /* Set left padding to accommodate the icon */
        border: 1px solid #ECECEB;
        border-radius: 5px;
      }
  
      /* Style the search icon */
      .filter-icon {
        position: absolute;
        top: 57%;
        left: 8px; /* Adjust the left position as needed */
        transform: translateY(-50%);
        color:#808080;
      }
}
.main-container{
    width:100%;
    margin:12px;
    border-radius: 4px;
    background-color: white;

}
.userDetailsTable th{
    background-color: #EDFAFF;
    border-top: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
    
}
td{
    text-align:center;
    border-bottom:1px solid #CECECE;
}
tbody tr{
    border-bottom:1px solid black;
}
th{
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    color: #595959;
}

button{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0em;
}
td{
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #595959;
}
li{
    list-style-type: none;
    border-radius: 4px;
    padding:1px;
    margin: 4px;
    
}
ul{
    padding-inline-start: 0px;
    margin:12px;
}

.editButton{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    padding:2px;
    margin:6px;
}
.userEditButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}